/* Asteric wildcard selector to override the default styles added by the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styling Body */
body {
    display: flex;
    flex-direction: column;
    background-color: #595959;
}

/*Styling Header */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: #6f6e6e;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 4%;
}

#logo a img {
    width: 7rem;
    min-height: 50px;
    align-items: center;
}

ul li {
    list-style: none;
    font-size: x-large;
    margin: 1%;
    text-decoration: none;
}

li a {
    text-decoration: none;
}

li a {
    color: #f5f4f4;
}


/*Styling Home Section */

#home {
    display: flex;
    flex-direction: column;
}

#home h1,
p {
    text-align: center;
    color: white;
}

.photo-section {
    display: flex;
    flex-direction: column;

}

.photo-section .photo {
    width: 70%;
    border-radius: 1rem;
    margin: auto;
}

/*Styling projects section*/
#project {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#project h2 {
    margin-top: .5rem;
    text-align: center;
    color: #f5f4f4;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 2rem;
    margin: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100px;
    border: 1px solid #545454;
    background-color: #6f6e6e;
    text-align: center;
    padding-bottom: 2rem;
    border-radius: 2rem;
    margin: .5rem;
}

.projects h3 {
    text-align: center;
    padding-top: 1rem;
    margin: auto;
    color: #ffffff;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.projects p {
    width: 70%;
    text-align: center;
    padding-top: 1rem;
    margin: auto;
    color: #f4f1f1;
}

/*Styling Project link */
.project-link-btn {
    padding-top: .5rem;
}

.cta {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f5f5f5;
    background-color: black;
    border-radius: 1rem;
    padding: .2rem;
}

.cta:hover,
.git-link:hover {
    background-color: white;
    color: black;
}

.gthub-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

/*End of project link */

/*End of Styling Home Section */


/*Styling About Section */

#about {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #6f6e6e;
    border-radius: .7rem;
    margin: auto;
}

#about h1,
h2 {
    text-align: center;
    color: #ffffff;
}

.about h2 {
    text-align: center;
}

.about p {
    width: 70%;
    text-align: center;
    padding-top: 1rem;
    margin: auto;
    color: #f4f1f1;
}

.about-display {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.about-aside {
    width: 90%;
    min-height: 100px;
    margin: 1rem;
    border-radius: 2rem;
}

.about-aside h3 {
    color: #ffffff;
}

.skills,
.achievements {
    padding: 1rem 0 1rem 0;
    background-color: #444444;
}


.git-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

/*End of Styling About Section */

/*Styling Contact Section */

#contact {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem;
}

#form {
    background-color: #444444;
    width: 90%;
    border-radius: 10px;
    margin: auto;
}

#form h1 {
    color: #ffffff;
    font-family: serif;
}

.label {
    font-size: 1.3rem;
    display: block;
    color: #ffffff;
}

.form-group {
    margin-bottom: .7rem;
}

#name,
#email {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    margin: auto;
}

#text-area {
    width: 70%;
    height: 250px;
}

#submit {
    color: #f5f5f5;
    background-color: black;
    border-radius: 1rem;
    padding: .2rem;
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: .3rem;
}

#submit:hover {
    background-color: #ffffff;
    color: #000000;
}

/*End of Styling Contact Section */

/*Styling the Footer*/
#footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #6f6e6e;
    justify-content: space-around;
}

.footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    margin: .2rem;

}

/*End of the footer*/

/*Media queries*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    /*header*/

    .project-container {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        text-align: center;
        padding-bottom: 2rem;
        border-radius: 2rem;
    }

    .projects p {
        width: 90%;
        text-align: center;
        padding-top: 1rem;
        margin: auto;
    }

    /*End of home section*/



    /*Styling About section*/
    .about p {
        width: 60%;
        text-align: center;
        margin: auto;
    }

    .about-display {
        display: flex;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .about-aside {
        width: 90%;
        min-height: 100px;
    }

    /*End of Styling About section*/


    /*Styling Contact Section*/


    #form {
        background-color: #444444;
        width: 50%;
        border-radius: 10px;
        margin: auto;
    }

    #name,
    #email {
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0.5rem 0.7rem;
    }


    #text-area {
        width: 50%;
        height: 250px;
    }

    /*End of Styling Contact Section*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /*header*/
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        text-align: center;
        padding-bottom: 2rem;
        border-radius: 2rem;
    }

    .projects p {
        text-align: center;
        padding-top: 1rem;
        margin: auto;
    }

    /*End of home section*/


    /*Styling About section*/
    .about p {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .about-display {
        display: flex;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .about-aside {
        width: 90%;
        min-height: 100px;
    }

    /*End of Styling About section*/


    /*Styling Contact Section*/

    #form {
        background-color: #444444;
        width: 50%;
        border-radius: 10px;
        margin: auto;
    }

    #name,
    #email {
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0.5rem 0.7rem;
    }


    #text-area {
        width: 50%;
        height: 250px;
    }

    /*End of Styling Contact Section*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    /*header*/
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        width: 90%;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        text-align: center;
        padding-bottom: 2rem;
        border-radius: 2rem;
    }

    .projects p {
        text-align: center;
        padding-top: 1rem;
        margin: auto;
    }

    /*End of home section*/

    /*Styling About section*/
    .about p {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .about-display {
        display: flex;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .about-aside {
        width: 90%;
        min-height: 100px;
    }

    /*End of Styling About section*/

    /*Styling Contact Section*/

    #form {
        background-color: #444444;
        width: 40%;
        border-radius: 10px;
        margin: auto;
    }

    #name,
    #email {
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0.5rem 0.7rem;
    }

    #text-area {
        width: 50%;
        height: 250px;
    }

    /*End of Styling Contact Section*/
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    /*header*/
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        width: 80%;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        text-align: center;
        padding-bottom: 2rem;
        border-radius: 2rem;
    }

    .projects p {
        width: 70%;
        text-align: center;
        padding-top: 1rem;
        margin: auto;
    }

    /*End of home section*/


    /*Styling About section*/
    .about p {
        width: 40%;
        text-align: center;
        margin: auto;
    }

    .about-display {
        display: flex;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .about-aside {
        width: 90%;
        min-height: 100px;
    }

    /*End of Styling About section*/
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

    /*header*/
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project-container {
        display: flex;
        flex-direction: row;
    }

    .projects {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2rem;
        border-radius: 2rem;
    }

    .projects p {
        width: 80%;
        text-align: center;
        padding-top: 1rem;
        margin: auto;
    }

    /*End of home section*/

    /*Styling About section*/
    .about p {
        width: 40%;
        text-align: center;
        margin: auto;
    }

    .about-display {
        display: flex;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .about-aside {
        width: 90%;
        min-height: 100px;
    }

    /*End of Styling About section*/
}